<h1>Payment</h1>

<p id="info"></p>

<button onclick="pay()">Pay Now</button>

<script>
const params = new URLSearchParams(window.location.search);
const orderId = params.get("order_id");

document.getElementById("info").innerText =
"Order ID: " + orderId;

function pay() {
    fetch("/payments", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({order_id: orderId})
    })
    .then(res => res.json())
    .then(data => alert(data.status));
}
</script>