<h1>Payment</h1>

<div id="info"></div>

<button onclick="pay()">
Confirm Payment
</button>

<script>

const path=window.location.pathname

const orderId=
path.split("/").pop()

const amount=
localStorage.getItem("amount")


document.getElementById(
"info"
).innerHTML=

`
Order: ${orderId}<br>
Amount:${amount}
`

function pay(){

fetch(

"http://192.168.1.58:5000/api/pay",
{
method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({

order_id:orderId,
amount:amount

})

})
.then(r=>r.json())

.then(data=>{

if(
data.status=="SUCCESS"
){

window.location.href=
"/success"

}

})

}

</script>